@import "variables";

video {
  width: 100vw;
  height: auto;
  object-fit: fill;
}
.dropdownTime {
  display: none;
}
.bookingButton {
  padding: 15px;
  background-color: $ogleBlue;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  video {
    width: 50vw;
    height: auto;
  }
  .filmTrailerBox {
    display: flex;
    justify-content: center;
  }
}
