@import "variables";
//Desktop
.category {
  top: 83px;
  left: 0px;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}
.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10vh 0 10vh 10vh;
  border-color: transparent transparent transparent black;
}
.arrowBox {
  padding-top: 16px;
  padding-left: 1vw;
  justify-content: center;
  display: flex;
}
.box {
  display: flex;
}
.categoryName {
  font-size: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 35px;
  margin-top: auto;
  background-color: $ogleBlue;
  height: auto;
}
.films {
  display: flex;
  padding-top: 16px;
  box-sizing: border-box;
  height: auto;
  padding-left: 30px;
}
.filmInfo {
  margin-right: 30px;
  position: relative;
  overflow: auto;
  border: 1px solid black;
  width: 17vw;
  height: 38vh;
}
.filmPictureBox {
  height: 28vh;
}
.filmPicture {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.filmName {
  font-size: 15px;
}
.filmDescription {
  bottom: 0;
  font-size: 13px;
  max-height: 8vh;
  height: 6vh;
}
.filmRating {
  text-align: right;
}
.filmDescriptionBox {
  word-wrap: break-word;
}
.filmTextSection {
  font-size: 13px;
  position: absolute;
  height: 10vh;
  width: 100%;
  bottom: 0;
}
//Phone
@media only screen and (max-width: 650px) {
  .categoryText {
    font-size: 20px;
  }
  .catergory {
    display: flex;
    margin: auto;
  }
  .categoryName {
    padding-left: 10px;
    margin: auto;
  }
  .films {
    display: flex;
    padding-top: 16px;
    box-sizing: border-box;
    height: 30vh;
    padding-left: 0px;
  }
  .filmInfo {
    position: relative;
    overflow: auto;
    border: 1px solid black;
    width: 40vw;
    height: 28vh;
    margin-left: 5vw;
    margin-right: 0;
  }
  .filmPictureBox {
    height: 18vh;
    width: 40vw;
  }
  .filmDescription {
    font-size: 10px;
  }
  .filmRating {
    text-align: right;
  }
  .filmTextSection {
    font-size: 15px;
    position: absolute;
    height: 10vh;
    width: 100%;
    bottom: 0;
  }
  .arrow {
    display: none;
  }
}
//Tablet
@media only screen and (min-width: 600px) {
  .filmInfo {
    width: 25vw;
    height: 30vh;
  }
  .filmPictureBox {
    height: 20vh;
  }
}
@media only screen and (max-width: 1024px) {
  .arrow {
    border-width: 5vh 0 5vh 5vh;
  }
}
