@import "variables";
.genres {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 2vw;
  justify-content: center;
}
.genreBox {
  cursor: pointer;
  border: 1px solid black;
  width: 100%;
  height: auto;
  overflow: auto;
}
.genresBoxes {
  display: flex;
  justify-content: center;
}
.genreImage {
  height: 25vh;
}
.genrePic {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.genreName {
  margin: auto;
}
.genreText {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.category {
  margin-top: 20px;
  margin-bottom: 20px;
}
.categoryName {
  font-size: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 35px;
  margin-top: auto;
  background-color: $ogleBlue;
  height: auto;
}
.films {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  justify-content: center;
  grid-gap: 2vw;
  box-sizing: border-box;
  height: auto;
  width: auto;
}
.filmInfo {
  cursor: pointer;
  position: relative;
  overflow: auto;
  border: 1px solid black;
  width: 20vw;
  height: 38vh;
}
.filmPictureBox {
  height: 28vh;
}
.filmPicture {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.filmName {
  font-size: 15px;
}
.filmDescription {
  bottom: 0;
  font-size: 13px;
  max-height: 8vh;
  height: 6vh;
}
.filmRating {
  text-align: right;
}
.filmDescriptionBox {
  word-wrap: break-word;
}
.filmTextSection {
  font-size: 13px;
  position: absolute;
  height: 10vh;
  width: 100%;
  bottom: 0;
}
.filmGenre {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .films {
    grid-template-columns: 40vw 40vw;
  }
  .genres {
    grid-template-columns: 45vw 45vw;
    grid-gap: 5vw;
  }
}
