@import "variables";

body {
  font-family: "Delius", cursive;
}
.topBar {
  height: 66px;
  width: 100%;
  top: 0.09px;
  background: $ogleBlue;
  position: relative;
  left: 0x;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
}
.category {
  top: 83px;
  width: 100%;
  left: 0px;
  background: #ffffff;
  margin: auto;
  padding-top: 17px;
  height: 350px;
}
.categoryText {
  margin: auto;
  font-size: 20px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 35px;
}
.logo {
  padding-left: 80px;
  height: 66px;
}
.topBar,
.links {
  display: flex;
}
.links {
  margin: auto;
  margin-right: 80px;
}

.pageChangeButton {
  cursor: pointer;
  padding: 20px;
}

.searchBox {
  padding-left: 66px;
}

.search {
  border: 0;
  background-color: $ogleWhite;
  height: 30px;
  width: 50%;
  padding: 0;
}
.center {
  text-align: center;
  margin: auto;
  width: 50%;
}
