body {
  font-family: "Delius", cursive;
}
.topBar {
  height: 66px;
  width: 100%;
  top: 0.09px;
  background: #4392f1;
  position: relative;
  left: 0px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.category {
  top: 83px;
  width: 100%;
  left: 0px;
  background: #ffffff;
  margin: auto;
  padding-top: 17px;
}
.categoryText {
  margin: auto;
  font-size: 20px;
  border: 1px solid #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 35px;
}
.logo {
  padding-left: 80px;
  height: 66px;
}
