.topBar {
  height: 66px;
  width: 100%;
  top: 0.09px;
  background: #4392f1;
  position: relative;
  left: 0px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.category {
  top: 83px;
  width: 100%;
  height: 49px;
  left: 0px;
  background: #ffffff;
  margin: auto;
  padding-top: 17px;
}
.categoryText {
  margin: auto;
  border: 1px solid #000000;
  padding: 10px;
}
.logo {
  padding-left: 5rem;
  height: 66px;
}
