@import "variables";

.loginBox {
  margin-top: 25px;
  height: 70vh;
}
.loginBar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.loginBarText {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 30px;
  margin-top: auto;
  background-color: $ogleBlue;
  height: auto;
}
.pageTitle {
  font-size: 20px;
}
//email
.email {
}
//PASSWORD
.password {
}
//BOTH
.email,
.password,
.confirmPassword {
  border: 1px solid #000000;
  box-sizing: border-box;
  background-color: $ogleWhite;
  width: 50vw;
}
.emailBox,
.passwordBox,
.confirmPasswordBox {
  display: flex;
  justify-content: center;
  height: 7vh;
  margin-bottom: 10px;
}
.submitDiv {
  position: absolute;
  width: 100%;
  bottom: 30vh;
  display: flex;
  justify-content: center;
}
.submitButton {
  border: 1px solid black;
  background-color: $oglePink;
  max-height: 60px;
  padding: 15px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.icon {
  height: 7vh;
}
@media only screen and (max-width: 650px) {
  .loginBarText {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .loginBarText {
    font-size: 26px;
  }
  body {
    font-size: 20px;
  }
}
