@import "variables";

.loginBox {
  margin-top: 25px;
  height: 50vw;
}
.loginBar {
  margin-top: 16px;
}
.loginBarText {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 30px;
  margin-top: auto;
  background-color: $ogleBlue;
  height: auto;
}
//USERNAME
.usernameBox {
  margin-bottom: 10px;
}
.username {
}
//PASSWORD
.passwordBox {
}
.password {
}
//BOTH
.username,
.password {
  border: 1px solid #000000;
  box-sizing: border-box;
  background-color: $ogleWhite;
  width: 250px;
}
.usernameBox,
.passwordBox {
  display: flex;
  justify-content: center;
  height: 7vh;
}
.signInBox {
  display: flex;
  justify-content: center;
}
.signInButton {
  margin: 10px;
  border: 1px solid black;
  background-color: $oglePink;
  padding: 10px;
}
.icon {
  height: 7vh;
}
@media only screen and (max-width: 650px) {
  .loginBarText {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .loginBarText {
    font-size: 26px;
  }
  body {
    font-size: 20px;
  }
}
