@import "variables";
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input {
  font-family: "Delius", cursive;
}
.topBar {
  top: 0;
  z-index: 4;
  background: $ogleBlue;
  position: sticky;
  left: 0;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  min-width: 320px;
  width: 100vw;
  height: 10vh;
}
.logo {
  padding-left: 30px;
  height: 10vh;
  margin: auto;
}
.topBar,
.links {
  display: flex;
}
.pageChangeButton {
  cursor: pointer;
  padding-right: 1.5vw;
  text-decoration: none;
  color: #000000;
}
.links {
  margin: auto;
  white-space: nowrap;
  font-size: 2vw;
  margin-left: 0;
}
.search {
  border: 0;
  background-color: $ogleWhite;
  height: 5vh;
  width: 30vw;
  padding: 0;
}
.sidebarButtons {
  list-style-type: none;
}
.searchBox {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
}
.hamburger {
  padding-right: 5px;
  z-index: 2;
  margin: auto;
  width: 7vh;
  height: 7vh;
}
.hamburgerImage {
  height: 7vh;
  width: 7vh;
}
.sidebar {
  bottom: 0;
  width: 50vw;
  position: fixed;
  text-align: center;
  font-size: 3vh;
  right: -70vw;
  height: 100vh;
  background-color: white;
  border-left: 1px solid #000000;
  transition: 0.4s;
}
.sidebarButton {
  margin: 10px;
  border: 1px solid black;
  background-color: $oglePink;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebarButtons {
  height: 90vh;
  box-sizing: border-box;
}
.closeSidebarMenu {
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  height: 10vh;
  background-color: $ogleBlue;
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 30px;
  }
}
@media only screen and (min-width: 769px) {
  .hamburger {
    visibility: hidden;
    position: absolute;
  }
  .sidebar {
    visibility: hidden;
  }
}
@media only screen and (max-width: 320px) {
  .hamburgerImage {
    height: 6vh;
    width: 6vh;
  }
  .hamburger {
    height: 6vh;
    width: 6vh;
  }
}
@media only screen and (max-width: 768px) {
  .links {
    visibility: hidden;
    position: absolute;
  }
  .hamburgerImage {
    height: 6vh;
    width: 6vh;
  }
  .hamburger {
    margin-right: 10px;
    height: 6vh;
    width: 6vh;
  }
  .search {
    width: 40vw;
    height: 6vh;
  }
  .searchBox {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .logoBox {
    padding: 0;
    margin: auto;
  }
  .logo {
    height: 10vh;
    margin: auto;
  }
}
@media only screen and (max-width: 650px) {
  .logo {
    padding-left: 5px;
    height: 10vh;
    margin: auto;
  }
}
